aiohttp
fastapi==0.111.0
langchain
langchain-community
langchain-openai
lark
myfunc @ git+https://github.com/djordjethai/myfunc.git
neo4j
nltk==3.8.1
openai
pandas
pinecone
pinecone-text
pybase64
pydub
pyodbc
PyPDF2
python-docx
sounddevice
soundfile
uvicorn
